<div class="doctor-view-wrapper">
    <md-toolbar class="short-toolbar">
        <div class="md-toolbar-tools">
            <div layout="row" flex>
                <md-button aria-label="{{'create' | translate}}" class="md-fab md-mini" ng-click="addDoctor()" type="button"
                    authority-checker="ADD_DOCTOR">
                    <md-tooltip md-direction="top">{{'create' | translate}}</md-tooltip>
                    <md-icon md-font-icon="fas fa-plus"></md-icon>
                </md-button>
                <md-button type="button" aria-label="{{'edit' | translate}}" class="md-fab md-mini" ng-disabled="selectedDoctor === null"
                    ng-click="editDoctor(selectedDoctor)" authority-checker="UPD_DOCTOR">
                    <md-tooltip md-direction="top">{{'edit' | translate}}</md-tooltip>
                    <md-icon md-font-icon="fas fa-edit"></md-icon>
                </md-button>
                <md-button aria-label="{{'save' | translate}}" class="md-fab md-mini" type="button" ng-disabled="!doctorChanged"
                    ng-click="saveChanges()">
                    <md-tooltip md-direction="top">{{'save' | translate}}</md-tooltip>
                    <md-icon md-font-icon="fas fa-save"></md-icon>
                </md-button>
                <md-button aria-label="{{ 'cancel' | translate }}" class="md-fab md-mini" ng-disabled="!doctorChanged"
                    ng-click="cancelChanges()">
                    <md-icon md-font-icon="fas fa-undo"></md-icon>
                    <md-tooltip md-direction="top">{{ 'cancel' | translate }}</md-tooltip>
                </md-button>
                <md-button ng-disabled="selectedDoctor === null" aria-label="{{'delete' | translate}}" class="md-fab md-mini"
                    type="button" authority-checker="DEL_DOCTOR" confirm-click="deleteDoctor">
                    <md-tooltip md-direction="top">{{'delete' | translate}}</md-tooltip>
                    <md-icon md-font-icon="fas fa-trash"></md-icon>
                </md-button>
            </div>
            <div layout="row">
                <md-button aria-label="{{'refresh' | translate}}" class="md-fab md-mini" http-disable-click ng-click="refreshGrid()"
                    type="button">
                    <md-tooltip md-direction="top">{{'refresh' | translate}}</md-tooltip>
                    <md-icon md-font-icon="fas fa-sync"></md-icon>
                </md-button>
            </div>
        </div>
    </md-toolbar>
    <div kendo-grid="doctorGrid" id="doctorGrid" class="k-widget k-grid grid-ellipsis" options="doctorGridOptions"></div>
</div>