<div flex layout="column">
    <div ng-show="mainTemplate" flex layout="column">
        <md-toolbar class="short-toolbar" flex>
            <div class="md-toolbar-tools">
                <div layout="row" flex>
                    <md-button aria-label="{{'create' | translate}}" class="md-fab md-mini" ng-click="createMode()"
                        type="button" authority-checker="ADD_ROLE">
                        <md-tooltip md-direction="top">{{'create' | translate}}</md-tooltip>
                        <md-icon md-font-icon="fas fa-plus"></md-icon>
                    </md-button>

                    <md-button type="button" ng-disabled="selectedSecRole==null" aria-label="{{'edit' | translate}}"
                        class="md-fab md-mini" ng-click="editMode()" authority-checker="UPD_ROLE">
                        <md-tooltip md-direction="top">{{'edit' | translate}}</md-tooltip>
                        <md-icon md-font-icon="fas fa-edit"></md-icon>
                    </md-button>

                    <md-button type="button" ng-disabled="selectedSecRole==null" aria-label="{{'duplicate' | translate}}"
                        class="md-fab md-mini" ng-click="duplicateSecRole()" authority-checker="ADD_ROLE">
                        <md-tooltip md-direction="top">{{'duplicate' | translate}}</md-tooltip>
                        <md-icon md-font-icon="fas fa-clone"></md-icon>
                    </md-button>

                    <md-button ng-disabled="selectedSecRole==null" aria-label="{{'delete' | translate}}" class="md-fab md-mini"
                        type="button" authority-checker="DEL_ROLE" confirm-click="deleteSecRole">
                        <md-tooltip md-direction="top">{{'delete' | translate}}</md-tooltip>
                        <md-icon md-font-icon="fas fa-trash"></md-icon>
                    </md-button>

                </div>
                <div layout="row">
                    <md-button aria-label="{{'refresh' | translate}}" class="md-fab md-mini" ng-click="refreshBtn()"
                        ng-disabled="refreshGridActive" type="button">
                        <md-tooltip md-direction="top">{{'refresh' | translate}}</md-tooltip>
                        <md-icon md-font-icon="fas fa-sync"></md-icon>
                    </md-button>
                </div>
            </div>
        </md-toolbar>
        <div kendo-grid="roleViewGrid" id="roleViewGrid" class="k-widget k-grid grid-ellipsis" options="roleViewGridOptions"></div>
    </div>
    <div ng-hide="mainTemplate" ng-include="editSecRoleTemplate" flex></div>
</div>