<md-dialog>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <span flex>{{ 'passwordForgot' | translate }}</span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-font-icon="fas fa-times"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <form name="forgotPasswordForm" http-disable-click id="forgotPasswordForm" novalidate ng-submit="submit(forgotPasswordForm.$invalid)"
        flex>
        <md-dialog-content flex>
            <div class="md-dialog-content" flex layout="column" layout-wrap>
                <p flex>{{ 'passwordForgotInfo' | translate }}</p>
                <md-input-container flex>
                    <label>{{ 'username' | translate }}</label>
                    <input type="text" name="username" ng-model="username" ng-required="true" />
                    <input-messages input-errors="forgotPasswordForm.username.$error" />
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" flex>
            <md-button type="submit" class="md-primary md-raised" ng-disabled="forgotPasswordForm.$invalid">
                {{ 'submit' | translate }}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>