<div flex layout="row" layout-align="center center" layout-fill class="website-bg-color">
    <form name="passwordResetForm" id="passwordResetForm" http-disable-click novalidate ng-submit="changeForgottenPassword(passwordResetForm.$valid)"
        layout-fill class="password-reset-form">
        <md-content style="background-color: transparent !important;" flex>
            <md-card md-whiteframe="3" flex>
                <md-card-title flex>
                    <md-card-title-text layout="column" layout-align="center center" layout-margin flex>
                        <div class="md-headline" flex>{{ 'passwordReset' | translate }}</div>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content layout="column" flex layout-align="center center">
                    <md-input-container flex>
                        <label>
                            {{ 'username' | translate }}
                        </label>
                        <input type="text" id="username" ng-model="username" name="username" ng-disabled="true" />
                    </md-input-container>
                    <md-input-container flex>
                        <label>
                            {{ 'passwordNew' | translate }}
                        </label>
                        <input type="password" id="password" ng-model="password" name="password" ng-required="true" password-verify="{{confirmPassword}}"
                        />
                        <input-messages input-errors="passwordResetForm.password.$error" />
                    </md-input-container>
                    <md-input-container flex>
                        <label>
                            {{ 'passwordConfirm' | translate }}
                        </label>
                        <input type="password" id="confirmPassword" ng-model="confirmPassword" name="confirmPassword" ng-required="true" password-verify="{{password}}"
                        />
                        <input-messages input-errors="passwordResetForm.confirmPassword.$error" />
                    </md-input-container>
                    <md-button type="submit" id="registerUser" class="md-raised md-primary" ng-disabled="!passwordResetForm.$valid" aria-label="{{messages.submit}}">
                        {{ 'submit' | translate }}
                    </md-button>

                </md-card-content>
                <div layout="row" layout-align="start center">
                    <language-switcher options="langSwitcherOptions"></language-switcher>
                </div>
            </md-card>
        </md-content>
    </form>
</div>