<div layout="column" class="billing-management-wrapper" flex>
    <div ng-show="viewMode == 'billingClassification'">
        <md-toolbar class="short-toolbar">
            <div class="md-toolbar-tools">
                <div layout="row" flex>
                    <md-button aria-label="{{'create' | translate}}" class="md-fab md-mini" authority-checker="ADD_BILL_CLASSIFICATION"
                        ng-click="addBillClassification()" type="button">
                        <md-tooltip md-direction="top">{{'create' | translate}}</md-tooltip>
                        <md-icon md-font-icon="fas fa-plus"></md-icon>
                    </md-button>
                    <md-button aria-label="{{'edit' | translate}}" class="md-fab md-mini" authority-checker="UPD_BILL_CLASSIFICATION"
                        ng-disabled="selectedBillClassification == null || !selectedBillClassificationIsActive"
                        ng-click="editBillClassification(selectedBillClassification)">
                        <md-icon md-font-icon="fas fa-edit"></md-icon>
                        <md-tooltip md-direction="top">{{ 'edit' | translate }}</md-tooltip>
                    </md-button>
                    <md-button aria-label="{{'save' | translate}}" class="md-fab md-mini" ng-disabled="!billClassificationsChanged"
                        ng-click="saveBillClassificationChanges()" http-disable-click>
                        <md-icon md-font-icon="fas fa-save"></md-icon>
                        <md-tooltip md-direction="top">{{ 'save' | translate }}</md-tooltip>
                    </md-button>
                    <md-button aria-label="{{ 'cancel' | translate }}" class="md-fab md-mini" ng-disabled="!billClassificationsChanged"
                        ng-click="cancelBillClassificationChanges()">
                        <md-icon md-font-icon="fas fa-undo"></md-icon>
                        <md-tooltip md-direction="top">{{ 'cancel' | translate }}</md-tooltip>
                    </md-button>
                    <md-button aria-label="{{ 'activate' | translate }}" class="md-fab md-mini" authority-checker="ACTIVATE_BILL_CLASSIFICATION"
                        ng-disabled="selectedBillClassification == null || selectedBillClassificationIsActive"
                        confirm-click="activateBillClassification">
                        <md-icon md-font-icon="fas fa-check"></md-icon>
                        <md-tooltip md-direction="top">{{ 'activate' | translate }}</md-tooltip>
                    </md-button>
                    <md-button aria-label="{{ 'deactivate' | translate }}" class="md-fab md-mini" authority-checker="DEACTIVATE_BILL_CLASSIFICATION"
                        ng-disabled="selectedBillClassification == null || selectedBillClassification.rid <= 0 || !selectedBillClassificationIsActive"
                        confirm-click="deactivateBillClassification">
                        <md-icon md-font-icon="fas fa-times"></md-icon>
                        <md-tooltip md-direction="top">{{ 'deactivate' | translate }}</md-tooltip>
                    </md-button>
                    <md-button aria-label="{{ 'masterItemDetails' | translate }}" class="md-fab md-mini" ng-disabled="selectedBillClassification == null || selectedBillClassification.rid <= 0 || !selectedBillClassificationIsActive"
                        ng-click="setView('masterItemDetails')">
                        <md-icon md-font-icon="fas fa-sitemap"></md-icon>
                        <md-tooltip md-direction="top">{{ 'masterItemDetails' | translate }}</md-tooltip>
                    </md-button>
                </div>
                <div layout="row">
                    <md-button aria-label="{{'refresh' | translate}}" class="md-fab md-mini" http-disable-click
                        ng-click="refreshTreeList()" type="button">
                        <md-tooltip md-direction="top">{{'refresh' | translate}}</md-tooltip>
                        <md-icon md-font-icon="fas fa-sync"></md-icon>
                    </md-button>
                </div>
            </div>
        </md-toolbar>
        <div kendo-tree-list="billClassificationTreeList" id="billClassificationTreeList" class="k-widget k-tree-list"
            options="billClassificationTreeListOptions"></div>
    </div>
    <div ng-show="viewMode == 'masterItemDetails'" ng-include="masterItemDetailsTemplate" flex></div>
</div>