#footer {
    direction: ltr;
    position: relative;
    max-height: 50px;
    min-height: 50px;
    height: 50px;
    background-color: $footer-color;
    .copyright {
        margin: 0 10px;
    }
    .version {
        font-size: 10px;
        font-weight: bold;
        margin-right: 10px;
        position: absolute;
        bottom: 0;
        right: 0;
    }
    #optimizaLink {
        height: 35px;
        #optimizaLogo {
            height: 100%;
        }
    }
}