<div flex class="login-wrapper" layout="row" layout-align="center center" layout-wrap>
  <div class="spacer" dynamic-flex="0|0|5|10|15"></div>
  <a href="{{}}" dynamic-flex="100|50|45|40|30" class="logo-wrapper">
    <img src="assets/images/logo/Acculab-logo.svg" />
  </a>
  <div class="spacer" dynamic-flex="0|5|5|10|15"></div>
  <div class="login-card-wrapper" dynamic-flex="100|45|40|30|25">
    <md-card class="login-card" md-whiteframe="1">
      <md-card-title class="custom-padding" layout="row" layout-align="start center" layout-wrap>
        <div flex="100" class="md-display-1 form-title">{{ 'login' | translate }}</div>
        <div flex="100" ng-show="capslock" class="md-subhead message-box warning-message">{{ 'capsLock' | translate }}
        </div>
      </md-card-title>
      <md-card-content class="custom-padding" layout="column" flex layout-align="center start">
        <form name="loginForm" class="login-form" layout-fill novalidate http-disable-click
          ng-submit="login(loginForm.$invalid)">
          <div layout="column" flex>
            <md-input-container flex>
              <label>{{ 'username' | translate }}</label>
              <input type="text" id="username" ng-model="user.username" name="username" required="true"
                ng-keydown="keydownCaps($event)" ng-keypress="keypressCaps($event)" md-autofocus />
              <input-messages input-errors="loginForm.username.$error" />
            </md-input-container>
            <md-input-container flex>
              <label>{{ 'password' | translate }}</label>
              <input type="password" id="password" ng-model="user.password" name="password" required="true"
                ng-keydown="keydownCaps($event)" ng-keypress="keypressCaps($event)"
                ng-attr-type="{{isPassVisible?'text':'password'}}" />
              <span tabindex="-1" class="inline-icon" ng-click="triggerPasswordVisibility()">
                <md-icon ng-class="passwordVisibilityIcon"></md-icon>
              </span>
              <input-messages input-errors="loginForm.password.$error" />
            </md-input-container>
            <md-checkbox value="remember-me" ng-model="rememberMe" id="rememberMe" name="rememberMe">
              {{ 'rememberMe' | translate }}
            </md-checkbox>
            <md-input-container flex layout="row" layout-align="center center" class="login-btn-wrapper">
              <md-button type="submit" id="loginBtn" value="login" class="md-raised md-primary" aria-label="login">
                {{ 'login' | translate }}
              </md-button>
            </md-input-container>
            <div flex class="md-body-1 text-center">
              <span ng-click="forgotPassword($event)" class="anchor-txt">{{'passwordForgot' | translate}}</span>
            </div>
            <div flex class="md-body-1 text-center margin-top-5">
              <a href="subscription" class="anchor-txt">
                <span class="subscription-button">{{ 'signUp' | translate }}</span>
              </a>
            </div>
          </div>
        </form>
      </md-card-content>
      <div layout="row" class="custom-padding" layout-align="start center">
        <language-switcher options="langSwitcherOptions"></language-switcher>
      </div>
    </md-card>
  </div>
  <div class="spacer" dynamic-flex="0|0|5|10|15"></div>
</div>
<particles></particles>