<div class="fees-setup">
    <fieldset>
        <legend>
            {{ 'feesAndCoding' | translate }}
        </legend>
        <md-toolbar class="short-toolbar" flex>
            <div class="md-toolbar-tools">
                <md-button class="md-fab md-mini" ng-click="addPrice()">
                    <md-tooltip md-direction="top">{{'create' | translate}}</md-tooltip>
                    <md-icon md-font-icon="fas fa-plus"></md-icon>
                </md-button>
                <md-button class="md-fab md-mini" ng-click="editPrice(selectedPrice)" ng-disabled="!selectedPrice">
                    <md-tooltip md-direction="top">{{'edit' | translate}}</md-tooltip>
                    <md-icon md-font-icon="fas fa-edit"></md-icon>
                </md-button>
                <md-button class="md-fab md-mini" ng-click="savePrice()" ng-disabled="!priceChanged">
                    <md-tooltip md-direction="top">{{'save' | translate}}</md-tooltip>
                    <md-icon md-font-icon="fas fa-save"></md-icon>
                </md-button>
                <md-button class="md-fab md-mini" ng-click="cancelPrice()" ng-disabled="!priceChanged">
                    <md-tooltip md-direction="top">{{ 'cancel' | translate }}</md-tooltip>
                    <md-icon md-font-icon="fas fa-undo"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <div layout="row" flex layout-wrap>
            <div class="k-widget k-grid" id="priceGrid" kendo-grid="priceGrid" options="priceGridOptions"></div>
        </div>
    </fieldset>
</div>