<div flex layout="column">
    <div ng-show="mainTemplate" flex layout="column">
        <div layout="row" layout-wrap flex>
            <autocomplete-search dynamic-flex="100|100|33|33|33" options="userSearchOptions"></autocomplete-search>
        </div>
        <md-toolbar class="short-toolbar" flex>
            <div class="md-toolbar-tools">
                <div layout="row" flex>
                    <md-button aria-label="{{'create' | translate}}" class="md-fab md-mini" ng-click="createMode()"
                        type="button" authority-checker="ADD_USER">
                        <md-tooltip md-direction="top">{{'create' | translate}}</md-tooltip>
                        <md-icon md-font-icon="fas fa-plus"></md-icon>
                    </md-button>
                    <md-button type="button" ng-disabled="selectedSecUser==null" aria-label="{{'edit' | translate}}"
                        class="md-fab md-mini" ng-click="editMode()" authority-checker="UPD_USER">
                        <md-tooltip md-direction="top">{{'edit' | translate}}</md-tooltip>
                        <md-icon md-font-icon="fas fa-edit"></md-icon>
                    </md-button>
                    <md-button type="button" ng-disabled="selectedSecUser==null" aria-label="{{'duplicate' | translate}}"
                        class="md-fab md-mini" ng-click="duplicateSecUser()" authority-checker="ADD_USER">
                        <md-tooltip md-direction="top">{{'duplicate' | translate}}</md-tooltip>
                        <md-icon md-font-icon="fas fa-clone"></md-icon>
                    </md-button>
                    <md-button ng-disabled="selectedSecUser==null" aria-label="{{'resetPassword' | translate}}"
                        http-disable-click class="md-fab md-mini" type="button" confirm-click="resetSecUserPassword"
                        authority-checker="RESET_PASS_USER">
                        <md-tooltip md-direction="top">{{'passwordReset' | translate}}</md-tooltip>
                        <md-icon md-font-icon="fas fa-key"></md-icon>
                    </md-button>
                    <md-button ng-disabled="selectedSecUser==null || selectedSecUser.isActive == true" aria-label="{{'activate' | translate}}"
                        class="md-fab md-mini" confirm-click="activateSecUser" type="button" authority-checker="ACTIVATE_USER"
                        http-disable-click>
                        <md-tooltip md-direction="top">{{'activate' | translate}}</md-tooltip>
                        <md-icon md-font-icon="fas fa-check"></md-icon>
                    </md-button>

                    <md-button ng-disabled="selectedSecUser==null || selectedSecUser.isActive == false" aria-label="{{'deactivate' | translate}}"
                        class="md-fab md-mini" confirm-click="deactivateSecUser" type="button" authority-checker="DEACTIVATE_USER"
                        http-disable-click>
                        <md-tooltip md-direction="top">{{'deactivate' | translate}}</md-tooltip>
                        <md-icon md-font-icon="fas fa-times"></md-icon>
                    </md-button>
                </div>

                <div layout="row">
                    <md-button aria-label="{{'refresh' | translate}}" class="md-fab md-mini" http-disable-click
                        ng-click="refreshGrid()" type="button">
                        <md-tooltip md-direction="top">{{'refresh' | translate}}</md-tooltip>
                        <md-icon md-font-icon="fas fa-sync"></md-icon>
                    </md-button>
                </div>
            </div>
        </md-toolbar>
        <div kendo-grid="userViewGrid" id="userViewGrid" class="k-widget k-grid" options="userViewGridOptions"></div>
    </div>
    <div ng-hide="mainTemplate" ng-include="editSecUserTemplate" flex></div>
</div>